* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: large;
  font-weight: bold;
  color: white;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.container {
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 0),
    rgb(81, 0, 255),
    rgb(0, 255, 64)
  );
  background-size: 500%;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 1em;

  color: cadetblue;
  width: 275px;
  height: 550px;
  display: grid;
  grid-template-rows: 0.1fr 1fr 4fr;
  box-shadow: 3px 2px 2em rgb(0, 0, 0);

  animation: bg 6s ease-in infinite alternate;
}

@keyframes bg {
  to {
    background-position: right;
  }

  from {
    background-position: left;
  }
}

.body {
  box-shadow: 2px 2px 10px black;
  width: 98%;
  margin: 0 auto;
  margin-bottom: 6%;
  border-radius: 1em;
  border: 1px solid rgb(218, 218, 218);
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-top: 10px;
}

.body p {
  justify-self: end;
  padding: 3%;
  font-size: 1.5em;
}

.body :nth-child(1) {
  font-size: 0.6em;
}

.numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  place-items: centre;
  margin-bottom: 5%;
}

.eg {
  box-shadow: 2px 2px 10px black;
  background-color: rgba(206, 249, 255, 0.472);
  border-radius: 2em;

  padding-top: 47%;
  text-align: center;

  margin: 4% 8%;
  transition: box-shadow 250ms ease-in;
}

.eg p {
  position: relative;

  font-size: 1.5em;
}

.extra,
.verticle {
  box-shadow: 2px 2px 10px black;
  background-color: rgba(206, 249, 255, 0.472);
  border-radius: 2em;

  padding-top: 47%;
  text-align: center;

  margin: 4% 8%;
  transition: box-shadow 250ms ease-in;
}

.extra p {
  position: relative;

  font-size: 1em;
}

.different {
  padding-top: 0;
  background-color: white;
}

.four {
  background-color: rgba(206, 249, 255, 0.472);
  display: grid;
  grid-row: span 3;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  place-items: center;
}

.operater {
  border-radius: 2em;
  padding-top: 36%;

  border: 10px solid rgb(218, 218, 218);
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 4%;
  transition: box-shadow 250ms ease-in;
}

.operater p {
  color: rgb(255, 255, 255);
  position: relative;
  bottom: 25px;
  font-size: 1.5em;
}
.equal {
  color: black;
  border: 1px solid rgb(255, 106, 131);
  border-radius: 2em;
  margin: 0 auto;
  width: 65px;
  background-color: rgba(206, 249, 255, 0.472);
}

span {
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

span::before,
span::after {
  content: ".";
  display: inline;
  color: black;
  margin: 2%;
}

span::before {
  color: rgb(0, 255, 0);
}
span::after {
  color: rgb(229, 255, 0);
}

.plus {
  border: 3px solid rgb(0, 255, 0);
}
.minus {
  border: 3px solid rgb(0, 162, 255);
}

.divide {
  border: 3px solid rgb(225, 0, 255);
}

.multiply {
  border: 3px solid rgb(38, 0, 255);
}

.eg:hover {
  box-shadow: none;
}

.operater:hover {
  box-shadow: 2px 2px 10px black;
  width: 53px;
  height: 53px;
  position: relative;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.52);
  color: white;
}
